* {}


/* nav bar */
Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

Nav a {
  text-decoration: none;
  font-size: 17px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;;
}

/* footer */
footer .column {
  float: left;
  width: 20%;
  display: flex;
}

/* Clear floats after the columns */
footer .row:after {
  content: "";
  display: table;
  clear: both;
}

#footer-list {
  list-style-type: none;
}