* {
  box-sizing: border-box;
}


/* nav bar */
Nav{
  display: flex;
  justify-content: space-evenly;
  justify-items: normal;
  width: 100%;
  padding-block: 10px;
}

Nav a {
  text-decoration: none;
  font-size: 17px;
  padding-left: 50px;
}

Nav .nav-item {
  font-size: 17px;
  padding-left: 50px;
  color: #333;
}

/* hero */

#hero {
  display: flex;
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  width: 100%;
  padding-right: 5%;
  padding: 20px;
  }

#hero > .text {
  padding: 10%;
}

#hero > .text h1 {
  padding-bottom: 10px;
}

#hero > .text h3 {
  padding-bottom: 50px;
}

#hero .text {
  flex: 1;
  padding-right: 20px; /* Adds spacing between text and image */
}

#hero img {
  display: flex;
  text-align: right; /* Aligns the image to the right */
  max-height: 700px;
  padding-right: 300px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#hero-button {
  background-color: #ff5733; /* Button color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#hero-button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #ff8c61; /* Button color on hover */
}

/* Highlights */

#highlights-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#highlightscard {
 box-shadow: #333;
}

/* Testimonials */

#testimonials-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #333;
}

#testimonial-card{
  border-style: groove;
  border-color: bisque;
  padding: 20px;
  border-radius: 10%;
}

#testimonialText{
  color: #fff;
}


/* About */
#about {
  display: flex;
  width: 100%;
  padding-right: 5%;
  padding: 20px;
  }

.image-stack {
  display: grid;
  position: relative; /* imperative for the overlapping to work */
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; /* slightly arbitrary, keeps proportion once resized */
  z-index: 1; /*tells the browser to make this image on top */
}

#about-img {
  width: 400px;
  height: 600px;
  display: block;
}

#about-overlap {
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
}

#about > .text {
  align-items: center;
  padding-top: 10%;
  padding-left: 10%;
  max-width: 50%;
}

#about > .text h1 {
  padding-bottom: 10px;
}

#about > .text h3 {
  padding-bottom: 50px;
}

#about .text {
  flex: 1;
  padding-right: 20px; /* Adds spacing between text and image */
}

/* footer */
#footer-container {
  display: flex;
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px;
}
#footer-items {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#footer-container > .image {
  padding-right: 5%;
}

#footerimg {
  width: 200px;
  height: 300px;
  display: block;
}

#footer-list {
  list-style: none;
  color:#fff;
}

#footer-list .nav-item{
  list-style: none;
  color:#fff;
}

#footer-socials  a:visited, a:link{
  color: #fff;
  text-decoration: none;
}

#footer-list  a:visited, a:link{
  color: #fff;
  text-decoration: none;
}

/* Bookings-Page */
/* Bookings-Hero */
#reservations-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url('https://media.bizj.us/view/img/12359290/df104-5-of-13*1024xx2500-1406-0-255.jpg');
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color */
  width: 100%;
  padding-right: 5%;
  height: 400px;
  }

  /* DateTime */
#date-time {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}


.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

#confirm-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  cursor: pointer;
}

#confirm-booking button {
  display: flex;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
